/* iniciando o projeto. VAMOS COM TUDO 🚀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login , main , #evaluation-form , #input-container {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#input-container {
  flex-wrap: wrap;
  width: 100%;
}

#input-container > input , #house {
  width: 100%;
  flex: 50%;
}

#container-family > label {
  display: block;
}

#trybewarts-forms-logo {
  height: 500px;
}

#right-side {
  display: flex;
  flex-wrap: wrap;
}

#right-side > label {
  width: 100%;
  flex: 33%;
}

#wrap {
  display: inline-block;
  position: relative;
}

#wrap span {
  position: absolute;
  bottom: 5px;
  right: 0;
}

/* https://jsfiddle.net/Kurenaikunai/8zLtdsm8/ */
#counter {
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  line-height: 12px;
  height: 20px;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 600;
}

#textarea {
  width: 100%;
  resize: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#answer-modal {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: rgb(50, 167, 145);
  max-width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  color: white;
}

#answer-modal h3 {
  text-align: center;
  margin: 5px;
}

#answer-modal span {
  float: right;
  font-size: 2.2em;
  transform: translate(-50%, -10%);
  cursor: pointer;
}

#answer-modal li {
  margin: 15px;
  list-style-type: none;
}

#shadow-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(3rem);
  position: absolute;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  top: 0;
}
